@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 29, 32, 38;
  --background-end-rgb: 29, 32, 38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 29, 32, 38;
    --background-end-rgb: 29, 32, 38;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo {
  font-family: "Cybersky", inherit;
}

@font-face {
  font-family: "Cybersky";
  src: url("/public/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@layer base {
  :root {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* @layer base {
  * {
    @apply border-sidebar-border;
  }

  body {
    @apply bg-sidebar text-sidebar-foreground;
  }
} */
